.filter {
    margin: 16px;
    justify-items: end;
}

.button {
    display: flex;
    font-size: 1rem;
    font-weight: lighter;
    cursor: pointer;
    position: relative;
    background-color: black;
    color: white;
}

.button p {
    margin-left: 8px;
    font-size: 1.2rem;
}

.button svg {
    margin: 16px;
}