.home_image_container img{
    width: 100%;
    height: auto;
}

.limited_collection_info {
    margin: 32px 56px;
    width: 50%;
}

.limited_collection_info h2 {
    font-size: 2.6rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.limited_collection_info p {
    font-size: 1.2rem;
}

.collection_details {
    display: flex;
    margin-bottom: 16px;
}

.image_container {
    flex: 1 0 50%;
}

.image_container img {
    width: 100%;
}

.details_info {
    flex: 1 0 50%;
    background-color: #faf4ec;
    position: relative;
    margin-bottom: 4px;
}

.details {
    /* position: absolute; */
    margin-top: 25%;
    margin-left: 16px;

}

.details h2 {
    font-size: 4rem;
    margin-bottom: 0;
}

.details p {
    font-size: 1.6rem;
}

@media screen and (max-width : 768px) {
   
    .details {
        position: relative;
    }

    .details h2 {
        font-size: 2rem;
    }

    .details p {
        margin: 16px;
        font-size: 1rem;
    }
}

@media screen and (max-width : 600px) {

    .limited_collection_info {
        margin: 32px;
        width: fit-content;
    }

    .collection_details {
        flex-direction: column;
        border-bottom: 2px solid #faf4ec;
    }
    
    .details_info {
        margin-top: 0;
        background-color: white;
    }

    .details {
        margin-top: 8px;
    }
}


