.nav {
    display: flex;
    justify-content: right;
    margin: 8px;
}

.hamburger {
    display: none;
}

.hamburger_links {
    display: none;
}

@media screen and (max-width: 500px) {
    .nav {
        justify-content: left;
    }
    .hamburger {
        display: block;
    }

    .hamburger_links {
        display: flex;
        flex-direction: column;
    }

    .links {
        display: none;
    }
}



