.nav {
    margin: 8px;
}

.hamburger {
    display: none;
}

.hamburger_links {
    display: none;
}

.links {
    display: flex;
    flex: 1 0 60%;
    justify-content: space-evenly;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
}

.search_icons {
    flex:1 0 40%;
    justify-items: flex-end;
}

@media screen and (max-width: 600px) {
    .nav {
        justify-content: left;
    }
    .hamburger {
        display: block;
    }

    .hamburger_links {
        display: flex;
        flex-direction: column;
    }

    .links {
        display: none;
    }
}



