.colours  {
    margin: 0 16px;
    text-align: end;
    background-color: black;
    color: white;
}

.colour_names {
    cursor: pointer;
    margin: 0 8px;
}

.colour_names p {
    margin: 16px 0;
}
