.price_filter {
    margin: 16px;
    /* display: flex;
    justify-content: flex-end; */
}

.price_filter_button {
    margin: 16px;
    display: flex;
    font-size: 1rem;
    font-weight: lighter;
    cursor: pointer;
    height: 60px;
    background-color: black;
    color: white;
}

.price_filter_button p {
    margin-left: 8px;
    font-size: 1rem;
}

.price_filter_button svg {
    margin: 16px;
}

@media screen and (max-width:768px) {
    .price_filter {
        display: block;
    }
    
    .price_filter_button p {
        font-size: .8rem;
    }
}
