.search_result_container {
    position: absolute;
    margin: 8px 0;
    width: 150px;
    background-color: white;
    top: 4%;
    right: 5%;
    max-height: fit-content;
    transition: all linear 2s; 
}

.search_result_container p {
    color: #960200;
    margin: 16px;
    border-bottom: 1px solid gray;
    cursor: pointer;
    z-index: 100;
}

@media screen and (max-width:768px) {

    .search_result_container {
        top: 5%;
        right: 10%;
    }
    
}

@media screen and (max-width:500px) {
    .search_result_container {
        position: absolute;
        top: 10%;
        right: 25%;
    }
} 