.footer {
    background-color: #960200;
    color : white;
    
}

.footer_info {
    display: flex;
    justify-content: space-between;
}

.information {
    margin: 16px;
    flex: 1 0 25%;
}

.information h4 {
    margin: 8px;
    margin-bottom: 32px;
    font-size: 1.2rem;
}

.information p {
    margin: 8px;
    margin-bottom: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.icon_wrapper {
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.copyrights {
    margin: 8px;
    font-size: 1.2rem;
}

.social_icons {
    flex: 1;
    margin: 16px;
    text-align: end;
}

.social_icons svg{
    fill: white;
}

@media screen and (max-width : 500px) {
    .footer_info {
        display: block;
    }

    .information {
        margin-bottom: 32px;
    }

    .information h4 {
        margin-bottom: 16px;
    }

    .social_icons svg {
        width: 24px;
    }
}