.women_product_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.display_container {
    flex: 1 0 29%;
    padding: 16px;
    border-radius: 10px;
    justify-content: center;
    cursor: pointer;
}

.women_product_container img{
    width: 100%;
    height: auto;
}

.display_container:hover {
    transform: scale(1.02);
}

.display_container p {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width:768px) {
   .display_container {
    flex: 1 0 50%;
   } 
}