.product_display {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    gap: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image_container {
    margin: 16px;
    padding: 16px;
    justify-self: center;
}

.image_container img {
    width: 100%;
    height: auto;
}

.product_details {
    margin: 16px;
    padding: 16px;
}

.name {
    font-weight: bold;
    text-transform: uppercase;
}

.name p {
    margin: 0;  
}

.description {
    margin: 32px 0;
}
.description h2{
    font-size: 1.2rem;
    text-decoration: underline;
}

.description span {
    font-weight: bold;
}

.add_button {
    margin: 16px 0;
}

.button {
    width: 250px;
    background-color: black;
    color: white;
    font-size: 1.2rem;
}

@media screen and (max-width:700px) {
    .product_display {
        display: block;
    }
    
    .name  p {
        text-align: center;
    }
}
